body {
  padding-top: 5rem;
}
.list-head {
  padding: 3rem 1.5rem;
  text-align: center;
}

.statusrow {
  margin-bottom: 10px;
  font-size: 1.4em;
  display: block;
  background-color: #ededed;
  padding: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.info-badges {
  font-size: 0.8em;
  float: right;
}

.warning-text {
  font-size: 0.8em;
  font-weight: 700;
}